// BREAKPOINTS
$xs-bp: 0px;
$xsm-bp: 600px;
$sm-bp: 800px;
$md-bp: 900px;
$lg-bp: 1200px;
$xl-bp: 1536px;

// SIZES
$header-height: 64px;
$header-height-sm: 56px;
$sidebar-width: 400px;

// COLORS
$sidebar-active-button: #43be78;

// z-index
$sidebar-header-z-index: 10;