@import "variables.scss";
@import "fonts.scss";
@import "mixins.scss";

// GENERAL STYLES
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Manrope", sans-serif;
}

// LAYOUT STYLES
html,
body,
#root {
    height: 100%;
}

.app {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    display: flex;

    .sidebar {

    }

    // .app__inner
    &__inner {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        & .header {
            flex: 0 0 auto;
        }
    
        & .main {
            flex: 1 0 auto;
        }
    
        & .footer {
            flex: 0 0 auto;
        }
    }

    // .app__content
    &__content {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin-top: $header-height;
        overflow-y: auto;

        @include breakpoint($xsm-bp) {
            padding-top: $header-height-sm;
        }
    }
}

.header {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.main {
    padding: 15px 0;
}

.home {
    padding: 15px;
}

.sidebar {
    width: 0;
    height: 100%;
    transition: width 1700ms linear;

    // .sidebar_open
    &_open {
        width: max-content;
    }

    // .sidebar__link
    &__link {
        text-decoration: none;
        color: inherit;
    }

    // .sidebar__logo
    &__logo {
        width: 130px;
        padding-top: 5px;
    }

    // .sidebar__header
    &__header {
        display: flex;
        padding: 0 15px;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        height: $header-height;
        width: 100%;
        background-color: white;

        @include breakpoint($xsm-bp) {
            height: $header-height-sm;
        }
    }

    // .sidebar__list
    &__list {
        padding: 10px 0;
    }

    // MUI
    .MuiDrawer-root {
        width: inherit;
        height: inherit;
        transition: width 1700ms linear;

        & .MuiDrawer-paper {
            transition: width 1700ms linear;
            position: static;
            width: inherit;
            height: inherit;
            display: flex;
            flex-direction: column;
        }

        .MuiTypography-root {
            font-family: "Manrope", sans-serif;
            white-space: nowrap;
            font-size: 14px;
            font-weight: 500;
            color: rgba(black, 0.8);
        }

        .MuiListItemText-inset {
            padding-left: 20px;
        }

        .Mui-selected {
            background-color: rgba($sidebar-active-button, 0.4);

            .MuiTypography-root {
                font-weight: 700;
            }

            &:hover {
                background-color: rgba($sidebar-active-button, 0.4);
            }
        }
    }
}

.footer {
    padding: 25px 0;

    // .footer__logo
    &__logo {
        width: 130px;
    }

    // .footer__container
    &__container {
        display: flex !important;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
        color: #828282;

        @include breakpoint($sm-bp) {
            flex-direction: column;
        }
    }

    // .footer__icon
    &__icon {
        width: 130px;
        height: 38px;
    }

    // .footer__link
    &__link {
        text-decoration: none;
        color: inherit;

        // .footer__link_app
        &_app {
            display: block;
            width: 135px;
            height: 40px;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    // .footer__inner
    &__inner {
        display: flex;
        flex-direction: column;
    }

    // .footer__copyright
    &__copyright {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        line-height: 24px;
        font-family: Manrope, Arial, sans-serif;

        @include breakpoint($sm-bp) {
            justify-content: center;
        }
    }

    // .footer__contacts
    &__contacts {
        display: flex;
        flex-direction: column;
    }

    // .footer__apps
    &__apps {
        display: flex;
        gap: 5px;
    }
}

.logo {

    // .logo__link
    &__link {
        display: block;
    }
}
