@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Manrope", sans-serif;
}

html,
body,
#root {
  height: 100%;
}

.app {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  display: flex;
}
.app__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.app__inner .header {
  flex: 0 0 auto;
}
.app__inner .main {
  flex: 1 0 auto;
}
.app__inner .footer {
  flex: 0 0 auto;
}
.app__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 64px;
  overflow-y: auto;
}
@media screen and (max-width: 600px) {
  .app__content {
    padding-top: 56px;
  }
}

.header {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.main {
  padding: 15px 0;
}

.home {
  padding: 15px;
}

.sidebar {
  width: 0;
  height: 100%;
  transition: width 1700ms linear;
}
.sidebar_open {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.sidebar__link {
  text-decoration: none;
  color: inherit;
}
.sidebar__logo {
  width: 130px;
  padding-top: 5px;
}
.sidebar__header {
  display: flex;
  padding: 0 15px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  height: 64px;
  width: 100%;
  background-color: white;
}
@media screen and (max-width: 600px) {
  .sidebar__header {
    height: 56px;
  }
}
.sidebar__list {
  padding: 10px 0;
}
.sidebar .MuiDrawer-root {
  width: inherit;
  height: inherit;
  transition: width 1700ms linear;
}
.sidebar .MuiDrawer-root .MuiDrawer-paper {
  transition: width 1700ms linear;
  position: static;
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
}
.sidebar .MuiDrawer-root .MuiTypography-root {
  font-family: "Manrope", sans-serif;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
}
.sidebar .MuiDrawer-root .MuiListItemText-inset {
  padding-left: 20px;
}
.sidebar .MuiDrawer-root .Mui-selected {
  background-color: rgba(22, 240, 116, 0.4);
}
.sidebar .MuiDrawer-root .Mui-selected .MuiTypography-root {
  font-weight: 700;
}
.sidebar .MuiDrawer-root .Mui-selected:hover {
  background-color: rgba(22, 240, 116, 0.4);
}

.footer {
  padding: 25px 0;
}
.footer__logo {
  width: 130px;
}
.footer__container {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  color: #828282;
}
@media screen and (max-width: 800px) {
  .footer__container {
    flex-direction: column;
  }
}
.footer__icon {
  width: 130px;
  height: 38px;
}
.footer__link {
  text-decoration: none;
  color: inherit;
}
.footer__link_app {
  display: block;
  width: 135px;
  height: 40px;
}
.footer__link_app img {
  width: 100%;
  height: 100%;
}
.footer__inner {
  display: flex;
  flex-direction: column;
}
.footer__copyright {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 24px;
  font-family: Manrope, Arial, sans-serif;
}
@media screen and (max-width: 800px) {
  .footer__copyright {
    justify-content: center;
  }
}
.footer__contacts {
  display: flex;
  flex-direction: column;
}
.footer__apps {
  display: flex;
  gap: 5px;
}

.logo__link {
  display: block;
}

.search {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  position: relative;
}
.search__icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #000;
}
.search__input {
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 8px;
  font-family: inherit;
  font-size: 16px;
  padding: 12px 20px 15px 44px;
  width: 160px;
  transition: width 0.1s ease-in;
}
.search__input:focus {
  width: 200px;
}
.search__input::-moz-placeholder {
  color: #000;
}
.search__input:-ms-input-placeholder {
  color: #000;
}
.search__input::placeholder {
  color: #000;
}

.content__title {
  font-size: 24px;
}
.content__wrapper {
  margin-bottom: 60px;
}

.instruction {
  font-family: inherit;
}
.instruction__text {
  text-indent: 35px;
  font-size: 18px;
}
.instruction__image {
  display: block;
  max-width: 60%;
}
.instruction__button-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
}
.instruction__warning {
  font-size: 18px;
}
.instruction__warning_red {
  position: relative;
  color: red;
  padding-left: 44px;
}
.instruction__warning_red::before {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url("../images/icons/error.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  z-index: 100;
}
.instruction__warning_yellow {
  padding: 10px;
  position: relative;
  border: 5px solid yellow;
  padding-left: 44px;
}
.instruction__warning_yellow::before {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url("../images/icons/warning.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  z-index: 100;
}

.instruction-list__item {
  padding: 10px 0;
}
.instruction-list_custom {
  list-style: none;
}
.instruction-list_custom .instruction-list__item span {
  padding: 0 10px;
  font-weight: 700;
}
.instruction-list_custom .instruction-list__item:not(:last-child) {
  border-bottom: 1px solid #000;
}
.instruction-list_custom-2 {
  list-style: none;
}
.instruction-list_custom-2 .instruction-list__item {
  display: flex;
}
.instruction-list_custom-2 .instruction-list__item img {
  width: 50%;
}
.instruction-list_custom-2 .instruction-list__item div {
  padding: 0 10px;
  width: 50%;
}
.instruction-list_custom-2 .instruction-list__item:not(:last-child) {
  border-bottom: 1px solid #000;
}/*# sourceMappingURL=style.css.map */