@import "variables.scss";
@import "fonts.scss";
@import "mixins.scss";

// GENERAL STYLES
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Manrope", sans-serif;
}

// LAYOUT STYLES
html,
body,
#root {
    height: 100%;
}

.app {
    overflow-x: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;

    & .header {
        flex: 0 0 auto;
    }

    & .main {
        flex: 1 0 auto;
    }

    & .footer {
        flex: 0 0 auto;
    }
}

// MATERIAL UI STYLES

// Drawer
.MuiDrawer-root {
    width: $drawer-width;

    & .MuiDrawer-paper {
        width: $drawer-width;
    }
}

// CUSTOM STYLES
.app_indent {

    .header {
        & .MuiAppBar-root {
            left: $drawer-width;
            transition: left 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
        }
    }

    .main {
        margin-left: $drawer-width;
        transition: margin-left 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    }

    .footer {
        margin-left: $drawer-width;
        transition: margin-left 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    }
}

.header {
    position: relative;
}

.main {
    margin-top: $header-height;

    @include breakpoint($xsm-bp) {
        margin-top: $header-height-sm;
    }
}

.home {
    padding: 15px;
}

.sidebar {
    // .sidebar__link
    &__link {
        text-decoration: none;
        color: inherit;
    }

    // .sidebar__header
    &__header {
        display: flex;
        padding: 0 15px;
        justify-content: end;
        align-items: center;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 2000;
        height: $header-height;
        width: $drawer-width;
        background-color: white;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        border-right: 1px solid rgba(0, 0, 0, 0.12);
        
        @include breakpoint($xsm-bp) {
            height: $header-height-sm;
        }
    }

    // .sidebar__list
    &__list {
        margin-top: $header-height;
        padding: 10px 0;
    }
}

.footer {
    padding: 25px 0;

    // .footer__container
    &__container {
        display: flex !important;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
        color: #828282;

        @include breakpoint($sm-bp) {
            flex-direction: column;
        }
    }

    // .footer__icon
    &__icon {
        width: 130px;
        height: 38px;
    }

    // .footer__link
    &__link {
        text-decoration: none;
        color: inherit;

        // .footer__link_app
        &_app {
            display: block;
            width: 135px;
            height: 40px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        // .footer__link_logo
        &_logo {
            display: inline-block;
            width: fit-content;
            height: fit-content;
        }
    }

    // .footer__inner
    &__inner {
        display: flex;
        flex-direction: column;
    }

    // .footer__copyright
    &__copyright {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        line-height: 24px;
        font-family: Manrope, Arial, sans-serif;

        @include breakpoint($sm-bp) {
            justify-content: center;
        }
    }

    // .footer__contacts
    &__contacts {
        display: flex;
        flex-direction: column;
    }

    // .footer__apps
    &__apps {
        display: flex;
        gap: 5px;
    }
}
